.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

body {
  margin: 0;
  background-image: url('../../images/barb.jpg');
  background-size: 2000px 2000px;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 150px;
  font-family: serif;
  color: white;
}

.navbartab {
  margin-top: 525px;
  margin-left: 70px;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#sentence1 {
  color: red;
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
}

#aboutsentences {
  color: red;
  font-size: 40px;
  text-align: center;
  margin-top: 300px;
}
