.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

body {
  margin: 0;
  background: url('../../images/barb.jpg');
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  color: black;
}
