<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="nav">
    <div class="container">
      <ul class="pull-left">
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
     </ul>
    <ul class="pull-right">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Browse</a></li>
    </ul>
  </div>
</div>

       
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>SJU Photography</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
  </div>
</div>

  <h1>{{ page.title }}</h1>
  {{ content }}
</div>
</body>
</html>
